.gdcuba-main-text {
  background-clip: text;
  background-image: linear-gradient(120deg, #029FFE 30%, #029FFE);
  color: transparent;
}

.gdcuba-hero-image {
  background-image: url('/assets/HD_512.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}