.rank {
    width: 80%;
    margin: auto;
    max-width: 1000px;
    box-shadow: 1px 3px 8px 5px rgba(54, 45, 19, 0.247);
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    padding: 30px 20px;
}

.rank > div {
    border-radius: 3px;
    padding: 10px 20px;
    border: 1px solid rgb(218, 218, 218);
    box-shadow: 1px 3px 6px 1px rgba(54, 45, 19, 0.096);
}

.rank--item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}

.rank--item--list {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rank--item--list__demon {
    height: 14px;
}

.rank--item--list__rightitem {
    margin-left: 12px;
}

.rank--item--list__num {
    margin-right: 12px;
}

.rank-destacado {
    font-weight: 800;
}

footer {
    font-size: 1.1rem;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    height: 90px;
    padding-top: 15px;
    padding-bottom: 15px;
}