@import 'tailwindcss';
@import '@heroui/styles';

.global-full-height {
  min-height: calc(100dvh - 65px);
  padding-bottom: calc(65px);
}

.global-full-viewport {
  min-height: calc(100dvh - 65px);
}

.global-margin {
  margin-top: 65px;
}

.global-padding {
  padding-top: 65px;
}

.landing-background {
  top: 0;
  height: 200dvh;
  overflow: visible;
  background-image: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 0) 100%
  );
  background-position: 50% -50dvh;
  background-repeat: no-repeat;
  mask-image: linear-gradient(black 60%, transparent 75%, transparent);
}

/* HeroUI components */
@layer components {
  :root {
    --accent: hsl(212.01999999999998 100% 46.67%);
    --accent-foreground: hsl(0 0% 100%);
  }
}

.button {
  @apply h-10 min-w-20 rounded-xl px-4 font-normal;
}

.button--primary {
  @apply hover:bg-accent rounded-xl font-normal transition-opacity hover:opacity-90;
}

.dropdown__popover {
  @apply border-foreground/20 rounded-xl;
}

.input {
  @apply rounded-xl;
}

.bordered-input {
  @apply rounded-md border border-white/20 px-3 py-2 focus:border-blue-500 focus:ring-1 focus:ring-blue-500 focus:outline-none;

  &[data-invalid='true'] {
    @apply outline-none border-red-500 focus:border-red-500 focus:ring-1 focus:ring-red-500 transition-all;
  }
}

.menu-item {
  @apply rounded-xl transition;
}

.modal__dialog {
  @apply rounded-xl;
}
