.navbar__logo {
  width: 50px;
}

@media (max-width: 420px) {
  .navbar__brand {
    font-size: large;
  }

  .navbar__logo {
    width: 46px;
  }
}

@media (max-width: 400px) {
  .navbar__brand.no-acc {
    font-size: medium;
  }

  .navbar__logo.no-acc {
    width: 36px;
  }
}

@media (max-width: 340px) {
  .navbar__brand.no-acc {
    font-size: small;
  }

  .navbar__logo.no-acc {
    width: 32px;
  }
}
